.cart_part {
    height: 20rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 2rem;
}

.cart_card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15) inset, 4px 4px 4px 0px rgba(0, 0, 0, 0.15) inset, 0px -5px 4px 0px rgba(242, 242, 242, 0.25) inset, -4px -4px 4px 0px rgba(237, 217, 217, 0.25) inset;
    /* height: 50px; */
    padding: 10px;
    align-items: center;
}

.del {
    font-size: 30px;
    color: #cf0000;
}

.add {
    padding:  12px 15px;
    border: none;
    border-radius: 15px;
    background: #F2575D;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.subtract {
    padding: 12px 15px;
    border: none;
    border-radius: 15px;
    background: #398AB9;
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
.total_part{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15) inset, 4px 4px 4px 0px rgba(0, 0, 0, 0.15) inset, 0px -5px 4px 0px rgba(242, 242, 242, 0.25) inset, -4px -4px 4px 0px rgba(237, 217, 217, 0.25) inset;
    padding: 30px 20px;
    align-items: center;
}

.btn-custom-success {
    background-color: #F2575D; /* Your custom success button color */
    color: #fff; /* Text color */
    border: none;
  }
  
  .btn-custom-danger {
    background-color: #398AB9; /* Your custom danger button color */
    color: #fff; /* Text color */
    border: none;
    margin-right: 4px;
  }

  
  /* toggle in label designing */

.switch {
    border-radius: 55px;
    background: #F9ECED;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
    padding: 0px 30px;
    gap: 18px;
    position: relative;
    height: 50px;
    display: inline-flex;
    justify-content: space-around;
}

.switch label {
    padding: 1rem 0;
    z-index: 1;
}

.switch::before {
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: .5s left ease;
    border-radius: 55px;
    background: var(--Colors-pri_4, #B0D0E3);
   z-index: 100;
 opacity: 0.8;
}

.switch:has(#switch-radio1:checked)::before {
    left: 0%;
}

.switch:has(#switch-radio2:checked)::before {
    left: 50%;
}

input {
    display: none;
    cursor: pointer;
}

label {
    cursor: pointer;
}
