/* toggle in label designing */

.switch {
    border-radius: 55px;
    background: #F9ECED;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
    padding: 0px 30px;
    gap: 15px;
    position: relative;
    height: 50px;
    display: inline-flex;
    justify-content: space-around;
}

.switch label {
    padding: 1rem;
    z-index: 1;
}

.switch::before {
    content: '';
    position: absolute;
    left: 0;
    width: 35%;
    height: 100%;
    transition: .5s left ease;
    border-radius: 55px;
    background: var(--Colors-pri_4, #B0D0E3);
}

.switch:has(#switch-radio1:checked)::before {
    left: 0%;
}

.switch:has(#switch-radio2:checked)::before {
    left: 33%;
}

.switch:has(#switch-radio3:checked)::before {
    left: 66%;
}

input {
    display: none;
    cursor: pointer;
}

label {
    cursor: pointer;
}


/* categories btn design  */

.categories_bg {
    background: linear-gradient(118deg, rgba(255, 225, 226, 0.44) 30.35%, rgba(215, 240, 255, 0.44) 103.26%);
}

.catBtns {
    border-radius: 20px 20px 0px 0px;
    background: #FFF;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px;
    width: 150px;
    height: 65px;
    flex-shrink: 0;
    /* padding: 20px 50px; */
}

.cat_cards {
    /* width: 296.358px; */
    /* height: 289px; */
    padding: 17px 30px;
    border-radius: 12px;
    background: #FFF;
    cursor: pointer;
}

.carousel-container {
    margin: 20px;
    overflow: hidden;
}

.selected-image {
    width: 100%;
    height: 131px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}

.carousel__images {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
}

.carousel__image-selected {
    border: 3px solid #F2575D !important;
}

.carousel__image {
    margin-right: 10px;
    width: 45px !important;
    height: 45px;
    border: 3px solid #ffa70000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9px;
}


.heart {
    transition: all .5s linear;
    animation: heart_ani 3s linear infinite;
}
/* .actived_heart{
    
} */
/* .cat_cards:hover .heart {
  
} */

.pulse_btn {
    padding: 10px;
    border-radius: 50%;
    background: #F2575D;
    color: white;
    animation: pulse_ani 3s linear infinite;
    transition: all .5s linear;
}

.pulse_btn:hover {
    transform: scale(1.5, 1.5);
}

@keyframes pulse_ani {
    0% {
        box-shadow: 0 0 0 0 rgba(242, 87, 93, .7), 0 0 0 0 rgba(242, 87, 93, .7)
    }

    40% {
        box-shadow: 0 0 0 20px rgba(242, 87, 93, 0), 0 0 0 0 rgba(242, 87, 93, .7)
    }

    80% {
        box-shadow: 0 0 0 20px rgba(242, 87, 93, 0), 0 0 0 20px rgba(242, 87, 93, 0)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(242, 87, 93, 0), 0 0 0 20px rgba(242, 87, 93, 0)
    }
}

@keyframes heart_ani {
    0% {
        transform: scale(.8, .8);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(.8, .8);
    }
}